<div class="markets-container">
  <div class="col-md-12 center">
  	<div class="row center">
	    <h1>Farmers Markets</h1>
	    <%= form_tag markets_path, method: :get do %>
			 <p>
			   <%= text_field_tag :query, params[:query] %>
			   <%= submit_tag "Search", name: nil %>
			 </p>
			<% end %>
		</div>

		<div class="pages">
	    <div class="digg_pagination">
		    <div class="page_info">
		      <%= page_entries_info @markets %>
		    </div>
		    <%= will_paginate @markets, :container => false %>
		  </div>
	  </div>

    <% @markets.each do |m| %>
	    <div class="info row"> 	
    		<div class="col-md-6">
    			<span class="name"><%= m.market_name %></span>
    			<br> 
	    		<% if m.website %>
	    			<%= link_to format_domain(m.website), m.website %>
	    			<br>
	    			<br>
	    		<% end %>
    		</div>
    		<div class="col-md-3">
    			<%= m.street %><br>
    			<%= m.city %>, <%= Madison.get_abbrev m.state %>
    			<%= m.zip %>
    		</div>
    		<div class="col-md-3">
    			<%= m.season1_date %><br>
    			<% if m.season1_time %>
    				<%= format_times(m.season1_time).html_safe %>
    			<% end %>
    		</div>
    		<% if m. location %>
	    		<div class="col-sm-12">
		    		<b>Location:</b> <%= m.location %>
	    		</div>
    		<% end %>
    		<div class="col-sm-12">
    			<b>Harvest:</b> <%= m.harvest.join(', ')%>
    		</div>
  		</div>
    <% end %>
		<div class="pages">
	    <div class="digg_pagination">
		    <%= will_paginate @markets, :container => false %>
		  </div>
	  </div>

</div>