<script type="text/javascript"
		src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD5eudzaRvv0shsBeGGhvPndH2u6ERwPFc&sensor=false' + 'callback=initialize'>
</script>

<script>
		function initialize() {

				var bounds = new google.maps.LatLngBounds();
				var infowindow = new google.maps.InfoWindow();  

				var mapOptions = {
				 center: new google.maps.LatLng('<%= @avg_lat %>', '<%= @avg_long %>'),
				 zoom: 5
				};
				var map = new google.maps.Map(document.getElementById("map-canvas"),
				   mapOptions);

				'<% @coords.each do |c| %>'
				 var myLatlng = new google.maps.LatLng('<%= c[0] %>', '<%= c[1] %>');
				 var marker = new google.maps.Marker({
				   position: myLatlng,
				   map: map,
				 });
				'<% end %>'

		}

		google.maps.event.addDomListener(window, 'load', initialize);

</script>

<div class="row center">
  <h1>Farmers Markets</h1>
  <%= form_tag markets_path, method: :get do %>
	 <p>
	   <%= text_field_tag :query, params[:query] %>
	   <%= submit_tag "Search", name: nil %>
	 </p>
	<% end %>
</div>

<div class="markets-container">
  <div class="col-md-6 center">
		<div class="pages">
	    <div class="digg_pagination">
		    <div class="page_info">
		      <%= page_entries_info @markets %>
		    </div>
		    <%= will_paginate @markets, :container => false %>
		  </div>
	  </div>
    <% @markets.each do |m| %>
	    <div class="info row"> 	
    		<div class="col-md-6">
    			<span class="name"><%= m.market_name %></span>
    			<br> 
	    		<% if m.website %>
	    			<%= link_to format_domain(m.website), m.website %>
	    			<br>
	    			<br>
	    		<% end %>
    		</div>
    		<div class="col-md-3">
    			<%= m.street %><br>
    			<%= m.city %>, <%= Madison.get_abbrev m.state %>
    			<%= m.zip %>
    		</div>
    		<div class="col-md-3">
    			<%= m.season1_date %><br>
    			<% if m.season1_time %>
    				<%= format_times(m.season1_time).html_safe %>
    			<% end %>
    		</div>

    		<% if m.location && m.location != 'Other' %>
	    		<div class="col-md-12">
		    		<b>Location:</b> <%= m.location %>
	    		</div>
    		<% end %>
    		<div class="col-sm-12">
    			<b>Harvest:</b> <%= m.harvest.join(', ')%>
    		</div>
  		</div>
    <% end %>
		<div class="pages">
	    <div class="digg_pagination">
		    <%= will_paginate @markets, :container => false %>
		  </div>
	  </div>
	</div>

	<div class="col-md-6" id="map-canvas">
		
	</div>

</div>