<p id="notice"><%= notice %></p>

<p>
  <strong>Fmid:</strong>
  <%= @market.FMID %>
</p>

<p>
  <strong>Market name:</strong>
  <%= @market.market_name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @market.website %>
</p>

<p>
  <strong>Street:</strong>
  <%= @market.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @market.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @market.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @market.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @market.zip %>
</p>

<p>
  <strong>Season1 date:</strong>
  <%= @market.season1_date %>
</p>

<p>
  <strong>Season1 time:</strong>
  <%= @market.season1_time %>
</p>

<p>
  <strong>Season2 date:</strong>
  <%= @market.season2_date %>
</p>

<p>
  <strong>Season2 time:</strong>
  <%= @market.season2_time %>
</p>

<p>
  <strong>Season3 date:</strong>
  <%= @market.season3_date %>
</p>

<p>
  <strong>Season3 time:</strong>
  <%= @market.season3_time %>
</p>

<p>
  <strong>Season4 date:</strong>
  <%= @market.season4_date %>
</p>

<p>
  <strong>Season4 time:</strong>
  <%= @market.season4_time %>
</p>

<p>
  <strong>X:</strong>
  <%= @market.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @market.y %>
</p>

<p>
  <strong>Location:</strong>
  <%= @market.location %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @market.credit %>
</p>

<p>
  <strong>Wic:</strong>
  <%= @market.wic %>
</p>

<p>
  <strong>Wic cash:</strong>
  <%= @market.wic_cash %>
</p>

<p>
  <strong>Sfmnp:</strong>
  <%= @market.SFMNP %>
</p>

<p>
  <strong>Snap:</strong>
  <%= @market.SNAP %>
</p>

<p>
  <strong>Baked goods:</strong>
  <%= @market.baked_goods %>
</p>

<p>
  <strong>Cheese:</strong>
  <%= @market.cheese %>
</p>

<p>
  <strong>Crafts:</strong>
  <%= @market.crafts %>
</p>

<p>
  <strong>Flowers:</strong>
  <%= @market.flowers %>
</p>

<p>
  <strong>Eggs:</strong>
  <%= @market.eggs %>
</p>

<p>
  <strong>Seafood:</strong>
  <%= @market.seafood %>
</p>

<p>
  <strong>Herbs:</strong>
  <%= @market.herbs %>
</p>

<p>
  <strong>Vegetables:</strong>
  <%= @market.vegetables %>
</p>

<p>
  <strong>Honey:</strong>
  <%= @market.honey %>
</p>

<p>
  <strong>Jams:</strong>
  <%= @market.jams %>
</p>

<p>
  <strong>Maple:</strong>
  <%= @market.maple %>
</p>

<p>
  <strong>Meat:</strong>
  <%= @market.meat %>
</p>

<p>
  <strong>Nursery:</strong>
  <%= @market.nursery %>
</p>

<p>
  <strong>Nuts:</strong>
  <%= @market.nuts %>
</p>

<p>
  <strong>Plants:</strong>
  <%= @market.plants %>
</p>

<p>
  <strong>Poultry:</strong>
  <%= @market.poultry %>
</p>

<p>
  <strong>Prepared:</strong>
  <%= @market.prepared %>
</p>

<p>
  <strong>Soap:</strong>
  <%= @market.soap %>
</p>

<p>
  <strong>Trees:</strong>
  <%= @market.trees %>
</p>

<p>
  <strong>Wine:</strong>
  <%= @market.wine %>
</p>

<p>
  <strong>Update time:</strong>
  <%= @market.update_time %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
